
div {
    
    float:left;
    border:solid black;
    border-width: 1px;
}

li {
    list-style-type:none;
}

#languageBoxes, #searchBox{
    float:left;
    
}

#controlBox {
    float:left;
    width:100%;
}


#resultBox {
    float:left;
    clear:left; /*Place Below controlBox */
    width:100%; 
}

#searchResultsDiv {
    float:left;
    width:50%;
    overflow:auto;
}

#favoritesListDiv{
    float:left;
    width:49%;
    overflow:hidden;   

}